<div class="centralcard">
    <div class="card">
        <div class="row m-0">
            <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center auth-img-bg p-3">
                <img src="assets/img/google.png" alt width="150" height="150" class="img-fluid">
            </div>
            <div class="col-lg-6 col-12 px-4 py-3">
                <h4 class="card-title" style="font-weight: bold;">Covid-19 Information Application</h4>
                <p>Stay safe. Stay informed. Please login.</p>
                <button class="btn btn-google" style="margin-left:0%;background-color: brown;"
                    (click)="fgoogleService.signInWithGoogle()">
                    Sign in with Google
                </button>
            </div>
        </div>
    </div>
</div>